* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  /* scroll-padding-top: 20px; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {
  text-decoration: none;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: white;
  padding: 20px 10px;
}

/* Head section */
.head {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}
#aboutMeHead {
  background-image: url('../assets/img/chirag_neu.jpeg');

  background-size: cover;
  background-position: top center;

  position: relative;
  z-index: 1;
  margin: 0;
}
#volunteerHead {
  background-image: url('../assets/img/guitar.jpeg');

  background-size: cover;
  background-position: center center;

  position: relative;
  z-index: 1;
  margin: 0;
}

.head::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;

  opacity: 0.4;
  z-index: -1;
}

.head h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
}
.head h1:nth-child(1) {
  animation-delay: 1s;
}
.head h1:nth-child(2) {
  animation-delay: 2s;
}

.head h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: crimson;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.5s;
}
.head h1:nth-child(1) span {
  animation-delay: 0.5s;
}
.head h1:nth-child(2) span {
  animation-delay: 1.5s;
}
.head h3 {
  display: block;
  width: fit-content;
  font-size: 2rem;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 3s;
}
.home {
  color: white;
}

.head h3 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: rgb(0, 110, 255);
  animation: text_reveal_box 1s ease;
  animation-delay: 2.5s;
}

/* Navbar */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.navigation {
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #2f3b5c;
  /* opacity: 1; */
}
.navigation h3 {
  font-size: 2rem;
}
.primary_nav {
  list-style: none;
  padding: 0 20px;
  margin: 0;
  background: hsl(0 0% 0% / 0.8);
  /* margin-right: 30px; */
}

@supports (backdrop-filter: blur(0.75rem)) {
  .primary_nav,
  #download {
    background: hsla(0, 0%, 0%, 0.062);
    backdrop-filter: blur(0.75rem);
  }
}

.primary_nav a {
  text-decoration: none;
  color: white;
  font-size: 1.75rem;
}
.primary_nav a > span {
  font-weight: 700;
  margin-inline-end: 0.5em;
}

.sticky {
  position: sticky;
  top: 0;
}

.head .me {
  padding: 2rem;
}
.mobile-nav-toggle {
  display: none;
}

#download {
  padding: 15px;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 2% 3%;
  margin-top: 2%;
  box-shadow: none;
  border: 0.1;
  border-style: solid;
  border-color: white;
  transition: 0.5s linear;
}

#download:hover {
  color: #ff6a3d;
  border-color: #ff6a3d;
}
/* End Navbar */
/* Head section end */

/* About Section */

/* Education Section */
#about {
  background-color: #1a2238;
  /* background-color: rgb(0, 0, 0); */
  flex-direction: column;
  margin: 0 auto;
  padding: 50px 120px;
  justify-content: stretch;
}
/* #resume {
  align-items: center;
} */

#resume {
  background-color: #1a2238;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 50px 120px;
}
#about .about {
  flex-direction: column;
  align-items: flex-start;
}
#about h1,
#resume h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: white;
  padding-top: 50px;
}
#resume h1 {
  justify-self: center;
}
#resumePdf {
  width: 67%;
  height: 200%;
}

#about h3 {
  display: block;
  width: fit-content;
  font-size: 2.5rem;
  position: relative;
  color: #ff6a3d;
  font-style: oblique;
  padding: 50px 0;
}
#about p {
  display: block;
  width: fit-content;
  font-size: 2rem;
  position: relative;
  color: white;
  line-height: 3rem;
  word-spacing: 0.3rem;
}
#about ul {
  display: block;
  width: fit-content;
  font-size: 2rem;
  position: relative;
  color: white;
  padding: 20px 50px;
  word-spacing: 0.3rem;
  line-height: 3.5rem;
}
/* End Education Section */
/* Technical Skills Sec */

#skills {
  background-color: #2f3b5c;
  position: relative; /* Add this line */
  z-index: 1; /* Add this line */
}

.subContainer {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  flex-direction: row;
}

.tech {
  padding: 20px;
}

.image {
  width: 60%;
}
.alt-img {
  margin-right: 0px;
}

.github-link {
  color: #a90bed; /* OrangeRed color for better visibility in both modes */
}
.subContainer h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: white;
  padding-top: 50px;
}

.subContainer ul {
  display: block;
  width: fit-content;
  font-size: 2rem;
  position: relative;
  color: white;
  padding: 20px 50px;
  word-spacing: 0.3rem;
  line-height: 3.5rem;
}

.image::before {
  background: #2f3b5c;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.tech_img {
  /* width: 100%;  */
  margin-right: 0px;
  /* Set the desired width */
  height: 50%; 
  /* Set the desired height */
  object-fit: cover; /* Ensure the image covers the area without distortion */
}

/* Adjust the z-index and position for the navbar */
.navigation {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.navbar-active {
  position: fixed;
  /* Other styles to make it appear on top */
}

/* End Technical Skills sec */
/* WorkEx */

#alternating-workx {
  background-color: #1a2238;
}
#alternating-workx hr {
  width: 100%;
  height: 1px;
  background-color: white;
  margin-bottom: 10px;
}
.alt-workEx {
  background-color: #2f3b5c;
}

.workEx {
  background-color: #1a2238;
}
.work {
  padding-bottom: 20px;
}
/* .workEx .image {
  width: 70%;
} */
 .work {
  padding: 40px;
 }
.work h3 {
  display: block;
  width: fit-content;
  font-size: 2.5rem;
  position: relative;
  color: #ff6a3d;
  font-style: oblique;
  padding: 20px 0;
}
.work p {
  display: block;
  width: fit-content;
  font-size: 2rem;
  position: relative;
  color: white;
  line-height: 3rem;
  word-spacing: 0.3rem;
}
/* End WorkEx */
/* End About Section */

/* Contact me */

#contactMe {
  background-color: #2f3b5c;
}

#contactMe .image {
  width: 60%;
}

#contact {
  width: 70%;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
}
form {
  background: transparent;
  display: flex;
  flex-direction: column;
  padding: 0.5vw 4vw;
  width: 70%;
  max-width: 600px;
  border-radius: 10px;
}

form input,
form textarea {
  border: 0.3;
  border-color: white;
  border-style: solid;
  margin: 10px 0;
  padding: 10px;
  background-color: transparent;
  font-size: 16px;
  color: white;
}
form input::placeholder,
form textarea::placeholder {
  color: white;
  font-size: 1.5rem;
}
form button {
  padding: 15px;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  width: 100px;
  margin: 20px 0;
  box-shadow: none;
  border: 0.1;
  border-style: solid;
  border-color: white;
  transition: 0.5s linear;
}

form button:hover {
  color: #ff6a3d;
  border-color: #ff6a3d;
}
/* End Contact me */

/* Footer */

#footer .foot {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#footer .links {
  display: flex;
  padding: 30px 0;
}
#footer .links a {
  padding: 0 20px;
}
#footer .links a:nth-child(1) {
  translate: -1% -5%;
}

#footer .copyright {
  padding-bottom: 50px;
  font-size: 2rem;
  word-spacing: 0.5rem;
}

#footer .copyright span {
  color: crimson;
}
/* End Footer */

/* keyframes */
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: white;
    backdrop-filter: blur(0.75rem);
  }
}
@keyframes text_reveal_interests {
  100% {
    color: crimson;
    align-items: center;
    align-self: center;
  }
}
/* End keyframes */
@media screen and (max-width: 75rem) {
  .subContainer {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-bottom: 50px;
    /* object-fit: cover; */
  }
  .image {
    min-width: 100%;
    /* position: sticky; */
  }
  .sticky {
    position: sticky;
    top: 0;
    /* z-index: 1000; */
  }
  .tech_img {
    /* flex-shrink: 0; */
    min-width: fit-content;
    height: 500px;
    object-fit: fill;
  }
  #about {
    padding: 10% 15%;
  }
  @media (max-width: 55em) {
    .primary_nav {
      position: fixed;
      inset: 0 0 0 30%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* padding: min(20vh, 20rem) min(10vh, 5rem); */
      z-index: 1000;
      --gap: 5rem;

      transform: translateX(100%);
      transition: transform 350ms ease-out;
      /* background: steelblue; */
    }

    .primary_nav[data-visible='true'] {
      transform: translateX(0%);
    }
    .mobile-nav-toggle {
      display: block;
      position: fixed;
      background: url('../assets/img/hamburger-button.png');
      width: 4rem;
      background-size: cover;
      color: white;
      aspect-ratio: 1;
      top: 10px;
      right: 2rem;
      z-index: 9999;
      border: 0;
    }
  }
}
